<div class="reputon-testimonials-widget" id="e7a7c9a0-17e7-11ec-9294-07ea7b3743d6" ><a href="https://apps.shopify.com/reputon-testimonials" target="_blank" rel="nofollow">Testimonials widget</a> by <a href="https://reputon.com" target="_blank" rel="noopener">Reputon</a></div>
{% schema %}
{"name":"Cards","presets":[{"name":"Cards","category":"Reputon Testimonials Widget"}]}
{% endschema %}