.inline-block{
display:inline-block;

}
.height-100p{
height: 120px !important;
}


.border-radius-25 {
border-radius:25px;
}

.send-to-back {
z-index: 1
}

.full-width{
width:100%;
}

.auto-margins{
margin-left:auto;
  margin-right:auto;
}

.top-margin-5{

margin-top:40px;
}

.slight-box-shadow {
box-shadow: 5px 5px 5px #525252;
}

@media screen and (min-width: 750px) {

.overflow-show{

overflow: visible !important;

}


.right-margin-correct{

margin-right:-10%;
  margin-left:10%;

}
  
  .left-margin-correct {
  margin-left: -10%;
    margin-right:10%
  }
  
  .margin-top-negative{

  margin-top:-13%;

}
.margin-top-positive{

  margin-top:13%;

}

  .big-header {
  font-size:4.5em !important;
  line-height:1.1em;
  }
  
  .padding-none{
  padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
}

 .image-with-text__grid--reverse-2 {
    flex-direction: row-reverse;
  }

.grid__item_custom {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(25% - 1rem * 3 / 4);
    max-width: 50%;
  }

@media screen and (max-width: 749px) {

  .mobile-break{
  display:block;
  }
  
  .grid__item_custom {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(50% - 1rem * 3 / 4);
    max-width: 50%;
  }
  .big-header {
  font-size:3em !important;
  line-height:1.1em;
  }
  .image-with-text__grid--reverse-2 {
    flex-direction: column-reverse;
  }
  
  .m-top-padding-10 {
  	margin-top:10px;
    padding-top:10px;
  }
  
  .image-with-text{
  
  margin-top:0em !important;
  }
  
}