


.border-radius-25 {
border-radius:25px;
}

.send-to-back {
z-index: 1
}

.full-width{
width:100%;
}



@media (min-width: 700px) {

.overflow-show{

overflow: visible !important;

}


.right-margin-correct-5{

margin-right:-10%;
  margin-left:10%;
  padding-right:10%;
  padding-left:10%;
  width:100%;

}
  
  .margin-top-negative{

  margin-top:-13%;

}
.margin-top-positive{

  margin-top:13%;

}

  .big-header {
  font-size:4em;
  }
  .padding-none{
  padding: 0 !important;
  }
}