

.top-cropped{
  width: 100%;
  height: 50px;
  background-position: top center;
  background-repeat: no-repeat;
}
.margin-bottom-5px{
margin-bottom:5px;
}
.flavoractive:hover {
filter: brightness(0) saturate(100%) invert(15%) sepia(9%) saturate(7494%) hue-rotate(173deg) contrast(77%);
}

.activeflavor {
filter: brightness(0) saturate(100%) invert(15%) sepia(9%) saturate(7494%) hue-rotate(173deg) contrast(77%);
}

.button_container_header{
 	display:none;

}

.header_label_sizing {

    Max-width: 65% !important;
    height: auto !important;
      margin-left: auto;
    margin-right: auto;
    position: relative !important;
  padding-top:1.5em;
}

a .header_button {
 cursor: pointer;
 color: #203d51;
 text-decoration:none;
 margin-right:auto;
 margin-left:auto;
  width:150px;
  height:auto;
}

.inline-block{
display:inline-block;

}
.height-100p{
height: 100px !important;
}


.border-radius-25 {
border-radius:25px;
}

.send-to-back {
z-index: 1
}

.full-width{
width:100%;
}

.auto-margins{
margin-left:auto;
  margin-right:auto;
}

.top-margin-5{

margin-top:40px;
}

.margin-top-minus-50{

margin-top:-50px !important;
}

.slight-box-shadow {
box-shadow: 1px 1px 1px 2px #f3f3f3;
}

@media screen and (min-width: 750px) {

.overflow-show{

overflow: visible !important;

}


.right-margin-correct{

margin-right:-10%;
  margin-left:10%;

}
  
  .left-margin-correct {
  margin-left: -10%;
    margin-right:10%
  }
  
  .margin-top-negative{

  margin-top:-13%;

}
.margin-top-positive{

  margin-top:13%;

}

  .big-header {
  font-size:4.5em !important;
  line-height:1.1em;
  }
  
  .padding-none{
  padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
}

 .image-with-text__grid--reverse-2 {
    flex-direction: row-reverse;
  }

.grid__item_custom {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(25% - 1rem * 3 / 4);
    max-width: 50%;
  }

@media screen and (max-width: 749px) {

  .button_container_header{
 	max-width: 150px;
    max-height: 100px;
    position: absolute;
    bottom: 20px!important;
    position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
    overflow: hidden;
    border-radius: 25px;
    height: 50px;
    background-color: #f8d33e;
    color: #203d51;
    width: 200px;
    font-weight: 700;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    display:block;

}
  .header_label_sizing{
   padding-top:1.5em;
   max-width: 95%!important;
  
  }
  .mobile-break{
  display:block;
  }
  
  .grid__item_custom {
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: calc(50% - 1rem * 3 / 4);
    max-width: 50%;
  }
  .big-header {
  font-size:3em !important;
  line-height:1.1em;
  }
  .image-with-text__grid--reverse-2 {
    flex-direction: column-reverse;
  }
  
  .m-top-padding-10 {
  	margin-top:10px;
    padding-top:10px;
  }
  
  .image-with-text{
  
  margin-top:0em !important;
  }
  
  .card {
  width: 100% !important;
}
  .collection-product-info {
  max-width:100% !important;
  }
  
}


@media screen and (min-width: 750px) {

.desktop_sticky_parent{
    height: 1000px;
  	margin-bottom: -350px !important;
}

.desktop_sticky_child {
	top: 40px;
    position: sticky;
    overflow: visible !important;
    align-self: flex-start;

}

.desktop-height-650 {
height: 650px;

}
}


<!-- Active Button Section -->

#flavor1Button {
diplay:none;
}

#flavor2Button {
diplay:none;
}

#flavor3Button {
diplay:none;
}

#flavor4Button {
diplay:none;
}


.collection-image-relative{
position:relative !important;
 

}

.width-100{
  width:100% !important;
  max-width:100% !important;
}

.card {
  width: 50%;
  display:inline-block;
}

.full-unstyled-link {
display:inline !important;
}

.collection-product-info {
	display: inline-block;
    padding: 20px 20px 0px 20px;
    vertical-align: top;
  	max-width: 40%;
}

ul {    
  list-style-type: none;
  padding: 0;}


.page-break {
  display: block;
}
